{% extends "base.html" %}
{% block content %}
{% include "navbar.html" with page="search" %}
<main class="mt-[5rem] sm:mt-28 w-full h-[calc(100%-9.5rem)] flex flex-col gap-5 sm:h-[calc(100%-7rem)]">
    <section class="w-full px-5 flex flex-col  justify-center items-center">
        <h1 class="text-3xl text-darkOrange text-center">Discover Jogja's Best Eats</h1>
        <p class="text-lg text-center text-darkOrange">Quickly search foods by name, category, or keyword.</p>
    </section>
    <section class="relative w-full px-5 flex justify-center items-center">
        <div class="relative w-[90%] justify-center items-center h-10 max-w-[38rem]">
            <input class="w-full h-full bg-[#ebe9e198] rounded-full focus:outline-darkOrange px-12 caret-darkOrange shadow-md text-xl placeholder:text-grey" placeholder="Search" type="text">
            <svg width="30" height="30" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute left-2 top-[0.4rem]">
                <path d="M30 30L23.7049 23.705M27 15.75C27 9.5368 21.9632 4.5 15.75 4.5C9.5368 4.5 4.5 9.5368 4.5 15.75C4.5 21.9632 9.5368 27 15.75 27C21.9632 27 27 21.9632 27 15.75Z" stroke="#7A7A7A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
    </section>
    <section class="w-full h- grid px-5 grid-cols-[repeat(2,1fr)] gap-5 overflow-scroll sm:px-12 sm:grid-cols-[repeat(3,1fr)] md:grid-cols-[repeat(5,1fr)]">
        {% comment %} looping makanan (AJAX) {% endcomment %}
        <div class="relative w-auto h-48 rounded-3xl bg-white border-2 border-darkPink flex flex-col p-3 gap-2 sm:h-52 md:h-60">
            <div class="w-full h-24 bg-[#D9D9D9] rounded-2xl relative sm:h-28 md:h-36">
                <div class="absolute bottom-2 right-2 flex gap-1">
                    <p>{{ rating }}4.9/5</p>
                    <svg width="20" height="21" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.9335 2.03628C14.5587 0.11203 17.281 0.112035 17.9062 2.03628L20.2183 9.15205C20.4979 10.0126 21.2998 10.5952 22.2047 10.5952H29.6866C31.7099 10.5952 32.5511 13.1843 30.9143 14.3735L24.8612 18.7713C24.1292 19.3032 23.8229 20.2459 24.1025 21.1064L26.4146 28.2222C27.0398 30.1465 24.8374 31.7466 23.2005 30.5573L17.1475 26.1595C16.4155 25.6277 15.4242 25.6277 14.6922 26.1595L8.63918 30.5573C7.00232 31.7466 4.79993 30.1465 5.42516 28.2222L7.73721 21.1064C8.01682 20.2459 7.71051 19.3032 6.97849 18.7713L0.92545 14.3735C-0.711411 13.1843 0.129825 10.5952 2.1531 10.5952H9.63506C10.5399 10.5952 11.3418 10.0126 11.6214 9.15205L13.9335 2.03628Z" fill="#EFB11D"/>
                    </svg>
                </div>
            </div>
            <div class="flex flex-col px-1">
                <h1 class="text-darkOrange text-lg">{{ nama }} nama tempat</h1>
                <p class="text-grey w-2/3 truncate">alamat tempat makan</p>
            </div> 
        </div>
    </section>
</main>
{% endblock content %}
