<div class="w-[325px] h-[325px] relative">
    <div class="w-[255px] h-[172px] left-[35px] top-[35px] absolute bg-[#d9d9d9] rounded-[40px]"></div>
    <div class="w-[255px] left-[30px] top-[209px] absolute text-[#7c1d04] text-3xl font-normal font-['Jockey One'] leading-10">{Nama Tempat}</div>
    <div class="w-[173px] h-[58px] left-[30px] top-[242px] absolute text-[#7c1d04] text-xl font-normal font-['Jockey One'] leading-loose">{Alamat...............................}</div>
    <div class="w-[83.14px] left-[180px] top-[261px] absolute text-right text-[#7c1d04] text-xl font-normal font-['Jockey One'] leading-loose">4.9/5</div>
</div>