{% extends "base.html" %}
{% load static %}
{% block content %}

{% include 'navbar.html' %}

<div class="flex justify-center items-center min-h-screen mt-[15vh]">
    <div class="w-[926px] h-[625px] relative">
        <div class="w-[926px] h-[581px] left-0 top-0 absolute bg-[#7a7a7a] rounded-[50px] border-4 border-darkYellow"></div>

        <!-- right arrow -->
        <div class="w-[41px] h-[60px] left-[866px] top-[244px] absolute text-darkYellow leading-[79.25px]">
            <svg viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <line x1="5" y1="12" x2="19" y2="12" />  <polyline points="12 5 19 12 12 19" /></svg>
        </div>    

        <!-- left arrow -->
        <div class="w-[41px] h-[60px] left-[15px] top-[244px] absolute text-darkYellow leading-[79.25px]">
            <svg viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <line x1="19" y1="12" x2="5" y2="12" />  <polyline points="12 19 5 12 12 5" /></svg>
        </div>

        <div class="w-[241px] h-[75px] left-[341px] top-[550px] absolute">
            <div class="w-[241px] h-[75px] left-0 top-0 absolute bg-[#ebe9e1] rounded-[158px] border-l-8 border-r-8 border-[#c98809]"></div>
            <div class="w-[201px] h-[75px] left-[20px] top-0 absolute text-center text-[#7c1d04] text-[56.67px] font-normal font-['Jockey One'] leading-[79.25px]">see more!</div>
        </div>

        <div class="left-[50px] top-[407px] absolute text-[#c98809] text-8xl font-normal font-['Jockey One'] leading-[79.25px]">Bebek Goreng</div>
        <div class="left-[54px] top-[483px] absolute text-[#7c1d04] text-5xl font-normal font-['Jockey One'] leading-[56px]">Resto Bu Sum</div>
    </div>
</div>


{% endblock content %}