{% extends "base.html" %}
{% block content %}
{% include "navbar.html"%}


<div class="flex flex-col items-center justify-start mt-24 sm:mt-32">
    <h1 class="text-4xl text-darkYellow text-center mb-4">Food Plans</h1>
    <!-- Your card content here -->
</div>


<div class="flex justify-center pb-24">
    <div class="overflow-x-auto"> <!-- Added this wrapper div -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mx-4 max-w-full">
            {% for item in items %}
                <div class="w-48 h-48 sm:w-72 sm:h-72 bg-white rounded-2xl shadow-lg p-6 flex flex-col justify-center items-center text-center border-4 border-darkYellow">
                    <p class="sm:text-3xl text-lg font-semibold text-darkOrange">Jajan Malioboro</p>
                    <p class="sm:text-xl text-lg text-gray-500 mt-2 flex items-center">3km</p>
                </div>
            {% endfor %}
            
            <div class="w-48 h-48 sm:w-72 sm:h-72 bg-white rounded-2xl shadow-lg p-6 flex flex-col justify-center items-center text-center border-4 border-darkYellow">
                <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 96 96" fill="none">
                    <rect x="38" width="20" height="96" rx="10" fill="#C98809"/>
                    <rect y="58" width="20" height="96" rx="10" transform="rotate(-90 0 58)" fill="#C98809"/>
                </svg>
                <p class="sm:text-3xl text-lg font-semibold text-darkOrange">Create New Food Plan</p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
