{% extends "base.html" %}
{% block content %}
{% include "navbar.html" with page="food"%}

<div class="flex flex-col mt-24 sm:mt-32">
    <h1 class="text-4xl text-darkYellow text-center mb-4">{{ food_plan.nama }}</h1>
    <div class="flex justify-end gap-2 mr-8 mb-4">
        <button class="bg-darkYellow text-white px-4 py-2 rounded-lg hover:bg-orange-500 shadow-lg">
            Edit
        </button>
        <button class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600 shadow-lg">
            Delete
        </button>
    </div>
</div>
<div class="flex flex-col gap-4">
    {% if restaurants %}
        {% for restaurant in restaurants %}
            <div class="bg-white p-4 rounded-xl shadow-2xl border-4 border-darkYellow w-10/12 mx-auto mb-4">
            <div class="mb-4">
                <div class="text-xl sm:text-2xl font-semibold text-darkOrange">
                    {{ restaurant.restaurant.nama }}
                </div>
                <div class="text-sm sm:text-lg text-gray-600">
                    {{ restaurant.restaurant.alamat }}
                </div>
            </div>
            
            <div class="overflow-x-auto">
                <div class="flex flex-nowrap gap-4">
                    {% for food in restaurant.food_items %}
                    <div class="flex-shrink-0 w-48 sm:w-60 max-h-96 bg-white rounded-2xl shadow-xl p-4 flex flex-col justify-between items-center text-center border-4 border-darkYellow">
                        <img src="{{ food.foto_link }}" alt="Food Image" class="w-full h-32 sm:h-48 object-cover rounded-t-lg">
                        <div class="flex flex-col justify-center items-center">
                            <p class="sm:text-xl text-lg font-semibold text-darkOrange">{{ food.nama }}</p>
                            <p class="text-sm sm:text-base text-gray-500 mt-2">{{ food.description }}</p>
                            <p class="text-lg sm:text-xl font-bold text-darkOrange mt-2">Rp. {{ food.harga }}</p>
                        </div>
                    </div>
                    
                    {% endfor %}
                </div>
            </div>
        </div>
            {% if not forloop.last %}
            <div class="flex flex-col justify-center items-center">
                <div class="w-8 h-8 bg-darkYellow rounded-full flex justify-center items-center">
                </div>
            <div class="relative flex flex-col items-center">
                <!-- garis -->
                <div class="h-40 border-l-8 border-dashed border-gray-400"></div> 
                <div class="text-2xl  absolute top-1/2 transform -translate-y-1/2 bg-white px-2 text-gray-600">
                    <p>{{ restaurant.distance_to_next }}km</p>
                </div>
            </div>
                <div class="w-8 h-8 bg-darkYellow rounded-full flex justify-center items-center">
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <h1 class="text-4xl text-darkYellow text-center mb-4">Add some restaurants to your food plan!</h1>
    {% endif %}
</div>

{% endblock content %}