{% load static %}
<html lang="en" style="scroll-behavior: smooth;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jajan Jogja</title>
    <base href="./" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static "css/globals.css" %}">
    <link rel="icon" type="image/x-icon" href="{% static "images/favicon.png" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jockey+One&display=swap" rel="stylesheet">
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                black: '#0F0401',
                orange: '#E43D12',
                darkOrange: '#7C1D05',
                darkPink : '#D6536D',
                white: '#EBE9E1',
                darkYellow: '#C98809',
                yellow : '#EFB11D',
                lightPink : '#FFA2B6',
                grey: '#7A7A7A'
              },
              fontFamily:{
                JockeyOne: ['"Jockey One"'],
              },
              keyframes: {
                slideDown :{
                    'from' : {transform : 'translateY(-100%)'},
                    'to' : {transform : 'translateY(0%)'}
                },
                slideUp :{
                    'from' : {transform : 'translateY(0%)'},
                    'to' : {transform : 'translateY(-110%)'}
                }
              },
              animation:{
                  slideDown : 'slideDown 1s ease-in-out',
                  slideUp : 'slideUp 1s ease-in-out',
              }
            }
          }
        }
    </script>
    {% block meta %}{% endblock meta %}
</head>
<body class="font-JockeyOne bg-white">
  <div class="fixed h-80 w-[16rem] bg-orange blur-[98.27586364746094px] opacity-[0.6] border-full top-0 right-0 translate-x-2/3 -translate-y-2/3 sm:h-96 sm:w-[21rem]"></div>
  <div class="fixed h-80 w-[16rem] bg-orange blur-[98.27586364746094px] opacity-[0.6] border-full top-0 left-0 -translate-x-2/3 -translate-y-2/3 sm:h-96 sm:w-[21rem]"></div>
  <div class="fixed h-80 w-[16rem] bg-orange blur-[98.27586364746094px] opacity-[0.6] border-full bottom-0 right-0 translate-x-2/3 translate-y-2/3 sm:h-96 sm:w-[21rem]"></div>
  <div class="fixed h-80 w-[16rem] bg-orange blur-[98.27586364746094px] opacity-[0.6] border-full bottom-0 left-0 -translate-x-2/3 translate-y-2/3 sm:h-96 sm:w-[21rem]"></div>
    {% block content %}{% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
</html>